<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-96">
  <div aria-hidden="true" class="cs-stripes"></div>
  <div class="cs-container">
    <!-- Left Section -->
    <div class="cs-content">
      <span class="cs-topper">Contact us</span>
      <h2 class="cs-title">
        Ready To Get Started? Lock in Your Night of Excitement!
      </h2>
      <p class="cs-text">
        Don't miss your chance to join the party. Secure your tickets and make
        unforgettable memories at Mono Loco.
      </p>
      <a
        class="cs-button-solid"
        aria-label="learn more about our programs"
        href=""
        >Contact Us</a
      >
    </div>
    <!-- Right Section -->
    <picture class="cs-picture">
      <source
        media="(max-width: 600px)"
        srcset="../../assets\images\download (3).jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="../../assets\images\download (3).jpg"
      />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="../../assets\images\download (3).jpg"
        alt="phone in hand"
        width="457"
        height="632"
      />
    </picture>
  </div>
</section>
